In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [22]:
data = pd.read_csv('marketing_customer_analysis.csv')
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [23]:
categorical = data.select_dtypes('object')
categorical = categorical.drop(['Customer'], axis = 1)
categorical = categorical.drop(['Effective To Date'], axis = 1)
categorical.columns

Index(['State', 'Response', 'Coverage', 'Education', 'EmploymentStatus',
       'Gender', 'Location Code', 'Marital Status', 'Policy Type', 'Policy',
       'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [24]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [25]:
one_hot_categoricals=[]
for i in range(len(categorical.columns)):
    col_name = categorical.columns[i]
    one_hot_df = pd.DataFrame(OneHotEncoder().fit_transform(data[[col_name]]).toarray())
    new_col_names = [col_name + '___' + str(col_val) for col_val in one_hot_df.columns]
    one_hot_df.columns = new_col_names
    one_hot_categoricals.append(one_hot_df)

In [26]:
one_hot_categoricals[3]

,Education___0,Education___1,Education___2,Education___3,Education___4
0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...
9129,1.0,0.0,0.0,0.0,0.0
9130,0.0,1.0,0.0,0.0,0.0
9131,1.0,0.0,0.0,0.0,0.0
9132,0.0,1.0,0.0,0.0,0.0
9133,0.0,1.0,0.0,0.0,0.0

In [27]:
label_categoricals=[]
for i in range(len(categorical.columns)):
    data[categorical.columns[i]] = LabelEncoder().fit(data[categorical.columns[i]]).transform(data[categorical.columns[i]])

In [28]:
categorical

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [29]:
numerical = data._get_numeric_data()
numerical.columns = map(str.lower, numerical)



# for i in range(len(numerical.columns)):
#     temp_mean = np.mean(numerical[numerical.columns[i]])
#     numerical[numerical[numerical.columns[i]] <= 0] = temp_mean
#     temp_std = np.std(numerical[numerical.columns[i]])
#     numerical.loc[abs((numerical[numerical.columns[i]] - temp_mean) / temp_std) > 1.5, numerical.columns[i]] = temp_mean
#     numerical.loc[numerical[numerical.columns[i]] <= 0, numerical.columns[i]] = temp_mean
#     arr, lmbda = stats.boxcox(numerical[numerical.columns[i]])
#     numerical[numerical.columns[i]] = arr

#numerical

for i in range(len(numerical.columns)):
    temp_mean = np.mean(numerical[numerical.columns[i]])
    temp_std = np.std(numerical[numerical.columns[i]])
    numerical.loc[abs((numerical[numerical.columns[i]] - temp_mean) / temp_std) > 1.5, numerical.columns[i]] = temp_mean
    numerical.loc[numerical[numerical.columns[i]] <= 0, numerical.columns[i]] = temp_mean
    numerical[numerical.columns[i]] = np.log(numerical[numerical.columns[i]])

In [30]:
X = numerical
for i in range(len(label_categoricals)):
    #X = pd.DataFrame(np.concatenate((X, one_hot_categoricals[i]), axis=1))
    X = pd.DataFrame(np.concatenate((X, label_categoricals[i]), axis=1))

X = X.drop(['customer lifetime value'], 1)
X

C:\Users\migue\AppData\Local\Temp\ipykernel_13896\2707647719.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = X.drop(['customer lifetime value'], 1)

,state,response,coverage,education,employmentstatus,gender,income,location code,marital status,monthly premium auto,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,0.554881,-1.943504,-0.732674,0.440886,0.000000,-0.713274,10.937988,0.000000,0.000000,4.234107,...,3.872546,-0.956103,0.000000,-0.191251,0.693147,-0.030231,0.097756,5.952753,1.609438,0.00000
1,0.554881,-1.943504,0.000000,0.440886,0.601967,-0.713274,10.536284,0.000000,0.693147,4.543295,...,3.737670,-0.956103,1.087272,0.000000,1.609438,0.693147,0.097756,6.073249,0.637835,0.00000
2,0.693147,-1.943504,-0.732674,0.440886,0.000000,-0.713274,10.794809,0.000000,0.000000,4.682131,...,3.637586,-0.956103,0.693147,0.000000,1.609438,-0.030231,0.097756,6.339428,1.609438,0.00000
3,0.000000,-1.943504,-0.732674,0.440886,0.601967,0.000000,10.536284,0.000000,0.000000,4.663439,...,4.174387,-0.956103,1.087272,-0.191251,1.334419,-0.030231,0.693147,6.272653,1.098612,0.00000
4,0.554881,-1.943504,-0.732674,0.440886,0.000000,0.000000,10.688211,-0.021133,0.693147,4.290459,...,3.784190,-0.956103,0.000000,0.000000,1.098612,-0.030231,0.097756,4.928202,0.637835,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.000000,-1.943504,-0.732674,0.440886,0.000000,0.000000,11.183602,-0.021133,0.000000,4.290459,...,4.488636,-0.956103,0.693147,0.000000,1.098612,0.000000,0.097756,5.289452,0.637835,0.00000
9130,0.000000,-1.943504,0.000000,0.000000,0.000000,-0.713274,9.980634,0.000000,0.113516,4.369448,...,3.332205,-0.956103,0.000000,-0.191251,0.693147,-0.030231,0.000000,5.938064,0.637835,0.00000
9131,0.000000,-1.943504,0.000000,0.440886,0.601967,0.000000,10.536284,0.000000,0.693147,4.442651,...,3.610918,-0.956103,0.693147,-0.191251,1.334419,-0.030231,0.000000,6.673026,0.637835,0.00000
9132,0.000000,-1.943504,0.000000,0.000000,0.000000,0.000000,9.996112,0.000000,0.000000,4.564348,...,3.872546,-0.956103,1.098612,0.000000,1.386294,0.693147,0.000000,6.538429,0.637835,0.08577
9133,0.000000,-1.943504,0.000000,0.000000,0.601967,0.000000,10.536284,0.000000,0.693147,4.343805,...,3.872546,-0.956103,0.000000,-0.191251,0.693147,-0.030231,0.693147,5.912421,1.609438,0.00000

In [31]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,4,2763.519279,0,0,0,2/24/11,1,0,56274,...,5,0,1,0,2,0,0,384.811147,5,1
1,QZ44356,0,6979.535903,0,1,0,1/31/11,4,0,0,...,42,0,8,1,5,2,0,1131.464935,0,1
2,AI49188,2,12887.431650,0,2,0,2/19/11,1,0,48767,...,38,0,2,1,5,0,0,566.472247,5,1
3,WW63253,1,7645.861827,0,0,0,1/20/11,4,1,0,...,65,0,7,0,1,0,2,529.881344,3,1
4,HB64268,4,2813.692575,0,0,0,2/3/11,1,1,43836,...,44,0,1,1,3,0,0,138.130879,0,1

In [32]:
Y = data['Customer Lifetime Value']

In [33]:
X = pd.DataFrame(MinMaxScaler().fit(X).transform(X))
X

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.505075,0.0,0.0,0.401312,0.000000,0.0,0.815023,1.0,0.000000,0.143471,...,0.757705,0.0,0.000000,0.0,0.000000,0.000000,0.141031,0.910310,1.000000,0.0
1,0.505075,0.0,1.0,0.401312,0.547934,0.0,0.625112,1.0,1.000000,0.503436,...,0.704661,0.0,0.606818,1.0,0.834044,1.000000,0.141031,0.923581,0.396309,0.0
2,0.630930,0.0,0.0,0.401312,0.000000,0.0,0.747333,1.0,0.000000,0.665073,...,0.665300,0.0,0.386853,1.0,0.834044,0.000000,0.141031,0.952896,1.000000,0.0
3,0.000000,0.0,0.0,0.401312,0.547934,1.0,0.625112,1.0,0.000000,0.643311,...,0.876413,0.0,0.606818,0.0,0.583711,0.000000,1.000000,0.945542,0.682606,0.0
4,0.505075,0.0,0.0,0.401312,0.000000,1.0,0.696937,0.0,1.000000,0.209078,...,0.722956,0.0,0.000000,1.0,0.369070,0.000000,0.141031,0.797470,0.396309,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.000000,0.0,0.0,0.401312,0.000000,1.0,0.931140,0.0,0.000000,0.209078,...,1.000000,0.0,0.386853,1.0,0.369070,0.041792,0.141031,0.837256,0.396309,0.0
9130,0.000000,0.0,1.0,0.000000,0.000000,0.0,0.362421,1.0,0.163769,0.301039,...,0.545200,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.908692,0.396309,0.0
9131,0.000000,0.0,1.0,0.401312,0.547934,1.0,0.625112,1.0,1.000000,0.386264,...,0.654812,0.0,0.386853,0.0,0.583711,0.000000,0.000000,0.989638,0.396309,0.0
9132,0.000000,0.0,1.0,0.000000,0.000000,1.0,0.369738,1.0,0.000000,0.527947,...,0.757705,0.0,0.613147,1.0,0.630930,1.000000,0.000000,0.974814,0.396309,1.0
9133,0.000000,0.0,1.0,0.000000,0.547934,1.0,0.625112,1.0,1.000000,0.271185,...,0.757705,0.0,0.000000,0.0,0.000000,0.000000,1.000000,0.905868,1.000000,0.0

In [34]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= 21)

In [35]:
model = sm.OLS(y_train, x_train).fit()

In [36]:
predictions = model.predict(x_test)

In [37]:
r2_score(y_test, predictions)

0.34551683103230113

In [38]:
mse = mean_squared_error(y_test, predictions)
mse

7706642.941477288

In [39]:
rmse = np.sqrt(mse)
rmse

2776.0841020180364

In [40]:
mae = mean_absolute_error(y_test, predictions)
mae

2058.5649800476776